* {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    sans-serif;
  color: rgb(248, 248, 248);
  box-sizing: border-box;
  font-weight: 500;
}

:root {
  --bg-color: #131313;
  --secondary-color: #c2c2c2;
  --primary-color: #1a1a1a;
  --accent-color: #ff0000;
  --active-color: #f3383826;
  --Supression-color: #000000;
}

body {
  background-color: var(--bg-color);
  margin: 0px;
  overflow-x: hidden;
}

.TopNavHolder {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TopNav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navigation {
  border-bottom: var(--accent-color) solid 5px;
  width: 100%;
  backdrop-filter: blur(3px);
}
.Logo {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: fit-content;
  margin-left: 15px;
}

.Logo img {
  width: 140px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
.Logo img:hover {
  filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%);
  transition: all 0.3s ease-in-out;
  transform: scale(1.08);
}
.PageSwapbt {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.PageSwapbt_PageSwapbtns {
  display: flex;
  gap: 5px;
  flex-direction: row;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 8px;
  border: var(--secondary-color) solid 1px;
}
.PageSwapbt_PageSwapbtns_back {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.PageSwapbt_PageSwapbtns_back_PageSwapbtn {
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c2c2c2;
  font-weight: 1200;
  text-decoration: none;
}
.PageSwapbt_PageSwapbtns_back_PageSwapbtn:hover {
  background-color: rgb(32, 32, 32);
  color: #ffffff;
}

.search {
  background-color: var(--primary-color);
  border: var(--secondary-color) solid 1px;
  height: 100%;
}
.PageSwapbt_SearchBar {
  display: flex;
  height: 50px;
}

.Searchimg {
  width: 20px;
  height: 20px;
  color: #000;
  filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%);
}
.PageSwapbt_SearchBar button:hover {
  background-color: rgb(48, 48, 48);
  color: #ffffff;
}

.active {
  background-color: var(--active-color);
  color: #ffffff;
  font-weight: bold;
}

.searchmenuSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}

.searchmenubackground {
  background-color: var(--Supression-color);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  opacity: 0.95;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchmenu {
  background-color: var(--primary-color);
  width: 63%;
  height: 65%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--secondary-color) solid 1px;
  padding: 0px;
}

.SearchHolder {
  font-size: 24px;
  font-weight: bold;
  color: #c2c2c2;
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  border-bottom: var(--secondary-color) solid 1px;
}

.searchmenu_title {
  position: relative;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.searchmenu_title h1 {
  margin: 0px;
  color: var(--accent-color);
}

.searchmenu_input {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  padding: 0px 15px;
}
.searchmenu_input input {
  width: 100%;
  height: 50px;
  background-color: #202020;
  border-radius: 10px;
  padding: 0px;
  padding-left: 10px;
  color: #c2c2c2;
  border-color: transparent;
  font-size: large;
  transition: all 0.4s ease-in-out;
}

.searchmenu_input input:focus,
.searchmenu_input input:hover {
  outline: none;
  background-color: #303030;
  transition: all 0.4s ease-in-out;
}

.searchmenu_input button {
  background-color: #630000;
  border: none;
  color: #ffffff;
  padding: 0px 15px;
  height: 50px;
  border-radius: 8px;
  font-size: large;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchmenu_input button:hover {
  background-color: #ff0000;
  transition: all 0.3s ease-in-out;
}

.searchmenu_title_closebtn {
  position: relative;
  top: 0px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  color: #c2c2c2;
  font-size: large;
  transition: all 0.3s ease-in-out;
  background-color: #630000;
  padding: 15px;
  transform: translateX(1500%);
  border-radius: 8px;
}

.searchmenu_title_closebtn img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%);
}

.Hidden {
  display: none;
}

.MoviePreviewSection {
  display: flex;
  border-bottom: var(--accent-color) solid 5px;
}
.MoviePreviewSection_MoviePreview_Poster {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.MoviePreviewSection_MoviePreview_Poster img {
  width: 100vw;
  height: 100%;
  margin: 0px;
  padding: 0px;
  filter: blur(4px);
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.MoviePreviewSection_MoviePreview_Poster_details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  font-size: 32px;
  margin: 0px;
  z-index: 2;
  margin-bottom: 15px;
  margin-left: 10px;
}
.MoviePreviewSection_MoviePreview_Poster_details h2 {
  margin: 0px;
  padding: 0px;
}

.MoviePreviewSection_MoviePreview_Poster_details p {
  margin: 2px;
  padding: 0px;
  font-size: 25px;
}
.imgholder {
  width: 100%;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.KeepUp {
  position: fixed;
  display: flex;
  top: 0px;
  z-index: 4;
}

.MoviePreviewSection_MoviePreview_Poster:hover img {
  filter: blur(0px);
  transition: all 0.5s ease-in-out;
}
.footer_row {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px;
  padding-top: 20px;
}
.footer_row .footer_row_link {
  filter: invert(100%);
  transition: all 0.3s ease-in-out;
}
.footer_row_link img {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}
.footer_row_link img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.footer_row_lists {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.footer_row_list_item a {
  color: #881212;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.footer_row_list_item a:hover {
  color: #ff0000;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}
.Footer {
  padding-bottom: 35px;
}
.PageSwapbt_PageSwapbtns_back_PageSwapbtn img {
  width: 35px;
  height: 35px;
}
